body {
    height: 10px;
    margin:0;
    padding: 0;
}

#main {
    padding: 0 12%;
}

.pop-window {
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9); /* Fallback color */
    overflow: auto;
}

.pop-window div {
    color: #f1f1f1;
    font-size: 40px;
}

.pop-window div:hover {
    cursor: pointer;
}

.pre-pic {
    max-height: 300px;
    display: inline;
    margin: 5px 5px;
    transition: opacity 0.5s;
}

.pre-pic:hover {
    opacity: 0.7;
    transition: opacity 0.5s;
}

.list-item {
    list-style: none;
}

#src-img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
    list-style: none;
}

#close {
    position: absolute;
    top: 15px;
    right: 35px;
}

#last {
    color: #f1f1f1;
    padding: 10px 20px;
}

#next {
    color: #f1f1f1;
    padding: 10px 20px;
}

.link {
    text-decoration: none;
    color: gray;
}

.link:hover {
    color: #ff9900;
    text-decoration: underline;
}

.top-title {
    font-size: xxx-large;
    margin: 20px 0;
}



